Repository pknu-wap/Whatta, pull requests merged in 2025-09, with the labels that each got.

#2 [Init] 백엔드 환경 설정
  server/Whatta/.gitattributes
  server/Whatta/.gitignore
  server/Whatta/build.gradle
  server/Whatta/gradle/wrapper/gradle-wrapper.jar
  server/Whatta/gradle/wrapper/gradle-wrapper.properties
  server/Whatta/gradlew
  server/Whatta/gradlew.bat
  server/Whatta/settings.gradle
  server/Whatta/src/main/java/whatta/Whatta/WhattaApplication.java
  server/Whatta/src/main/java/whatta/Whatta/global/config/SwaggerConfig.java
  server/Whatta/src/test/java/whatta/Whatta/WhattaApplicationTests.java
Labels: ⚙️setting⚙️

#19 [feature] repeat dto 생성
  server/Whatta/src/main/java/whatta/Whatta/global/entity/Repeat.java
  server/Whatta/src/main/java/whatta/Whatta/global/payload/request/RepeatRequest.java
  server/Whatta/src/main/java/whatta/Whatta/global/payload/response/RepeatResponse.java
Labels: 👾server👾, 👍feature👍

#14 [feature] bottom bar
  client/Whatta/App.tsx
  client/Whatta/package-lock.json
  client/Whatta/package.json
  client/Whatta/src/navigation/BottomTabNavigator.tsx
  client/Whatta/src/screens/Calender/.gitkeep
  client/Whatta/src/screens/Calender/CalendarScreen.tsx
  client/Whatta/src/screens/Calender/DayView.tsx
  client/Whatta/src/screens/Calender/MonthView.tsx
  client/Whatta/src/screens/Calender/ScheduleWithTabs.tsx
  client/Whatta/src/screens/Calender/WeekView.tsx
  client/Whatta/src/screens/More/TaskDetailScreen.tsx
  client/Whatta/src/screens/MyPage/MyPageScreen.tsx
  client/Whatta/src/styles/colors.ts
Labels: 🐰app🐰, 👍feature👍
